.stepperss .nav-tabs {
  display: flex;
  flex-direction: row;

}

.stepperss .nav-tabs > li {
  width: 30%;
  position: relative;
  display: flex;
  flex-direction: row;
}

.stepperss .nav-tabs .progressBar::after {
  content: '';
  background: red;
  width: inherit;
  height: 5px;
  z-index: 1;
}